
@import "component/status-bar.css";
@import "component/nav-bar.css";

@import "screen/homeScreen.css";
@import "screen/loginScreen.css";

@import "variable.css";
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

button{
    font-family: 'Open Sans', sans-serif;
}


.index-main__logo-text{
    font-family: 'Open Sans', sans-serif;
}