.index-main__logo-image {
    width: 100%;
    margin-top: 144x;
}

.index-main__logo-imagebox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 100px;
    margin-bottom: 200px;
    position: relative;
}

.index-main__login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-main__button {
    height: 55px;
    width: 300px;
    border-radius: 30px;
    margin-bottom: 20px;
    border-color: white;
}

.email__button {
    background-color:#141414;
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.index-main__button__image {
    height: 25px;
    margin-left: 5px;
    margin-right: 90px;
}

.index-main__button__column {
    display: flex;
    align-items: center;
}

.index-main__button__text {
    font-size: 15px;
    font-weight: 100;
}

.index-main__button:active
{
    background-color: lightgray;
    color: black;
    outline: none;    
}

.index-main__button:focus
{
    outline: none;    
}

.index-main__logo-title {
    font-size: 40px;
    font-weight: 600;
    color: white;
    position: absolute;
    margin-bottom: 100px;
}

.index-main__logo-text {
    font-size: 15px;
    font-weight: 300;
    color: lightgray;
    position: absolute;
}

.login__a {
    margin-top: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}


.loading__img {
    width: 70px;
}